<!DOCTYPE html>
<html lang="uk">
    <head>
        <title>Список витрат</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="box">
            <div>
                <div class="header">
                    <h1>Витрати</h1>
                        <div class="links">
                            {% if current_user.is_authenticated %}
                                <span>Вітаю, {{ current_user.username }}!</span> |
                                <a href="{{ url_for('admin.index') }}">⚙️ Адмінка</a> |
                                <a href="{{ url_for('logout') }}">🚪 Вийти</a>
                            {% else %}
                                <a href="{{ url_for('login') }}">👤 Увійти</a> |
                                <a href="{{ url_for('register') }}">📝 Реєстрація</a>
                            {% endif %}
                        </div>
                </div>
                <h3 class="Expenses-list">Список витрат</h3>
                <table>
                    <tr>
                        <th>Категорія</th>
                        <th>Назва</th>
                        <th>Сума</th>
                        <th>Дата</th>
                        <th>Деталі</th>
                    </tr>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.title }}</td>
                        <td>{{ expense.value }}</td>
                        <td>{{ expense.date.strftime('%Y-%m-%d') }}</td>
                        <td><a href="{{ url_for('expense_detail', id=expense.id) }}" class="edit"><i class="fa-solid fa-circle-info"></i></a></td>
                    </tr>
                    {% endfor %}
                    <div>
                    <tr class="total">
                        <th>Загальна сума:</th> 
                        <td>{{ total_sum }}</td><td></td><td></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>